name: Native Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  linux-native:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build jar file
        run: mvn clean package -DskipTests

      - name: Rename binary
        run: |
          mkdir -p dist
          mv cli/target/cli-*.jar dist/mvts-cli.jar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mvts-linux
          path: dist/mvts-cli.jar

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist//mvts-cli.jar
